@import '~normalize.css/normalize.css'


html
    height 100%
    background: #c0c8cb


body
    height 100%

    font-family Arial, sans-serif
    font-size 13px
    line-height: 17px
    font-weight 400
    color: #000


// h1, h2, h3, h4, h5, h6, p, dl, dt
    // margin: 0


ul, ol
    margin: 0
    padding: 0
    list-style-type: none
    